body, html{
  display: block;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

#navbar{
  position:fixed;
  top: 0px;
  left: 0px;
  background: #FA6F4F;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: right;
}

#navbar a{
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: #FFF;
  margin: 0px 10px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #CCC;
}

.hey{
  font-size: 4em;
}

.heysub{
  font-style: italic;
}

#projects{
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project img{
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project .project-title{
  display: block;
  width: 100%;
  text-align: center;
  background: #FA6F4F;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
  color: #FFF;
}

.social-links{
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0px auto;
  list-style: none;
  padding: 0px;
  margin-top: 30px;
}

.social-links li{
  display: inline-block;
  margin: 0px 10px;
}

.social-links li a{
  color: #FA6F4F;
  font-size: 22px;
  text-decoration: unerline;
  font-weight: bold;
}

@media screen and (max-width: 500px) { 
  .social-links li{
    display: block;
    width: 100%;
  }
  
  .projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
} 

